<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Vehicle Insurance Test Suite" verbose="1">


    <test name="Vehicle Insurance Test">
        <classes>
            <class name="w2a.testcases.LoginTestCase" />
            <class name="w2a.testcases.AutomobileTestCase" />
        </classes>
    </test> <!-- Test -->


</suite> <!-- Suite -->
